
body { margin: 0; padding: 0; }
.home {
  align-items: center;
  /* background-image: url("/home/guilherme/PROFISSIONAL/portifolio/portifolio/src/images/image2.jpeg"); 
  background-size: cover; */
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
}

.infos {
  background-color: #1F1F1F;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.title {
  display: flex;
  flex-direction:column;
  border-radius: 10px;
  background-color: #1F1F1F;
  justify-content:center;
  text-align: center;
  color: white;
  font-size: 60px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold ;
  width: 70%;
}

.name-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image{
  border-radius: 100%;
  width: 70%; 
  object-fit: cover;
}

.name{
  color: white;
  font-size: 50px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  font-weight:lighter;
  margin-right: 5%;

}

.resume{
  align-items:center;
  font-size: 20px;
  color: white;
  justify-content: center;
}

.projects{
  background-color: #1F1F1F;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: white;
  font-size: 60px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold ;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.project-1{
  background-color: rgb(54, 48, 48);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.project-2{
  background-color: rgb(54, 48, 48);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.stacks{
  background-color: #1F1F1F;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: white;
  font-size: 60px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold ;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.row {
  display: flex;
  flex-direction: row;
}

.front-end{
  background-color: rgb(54, 48, 48);
  border-radius: 5px;
  font-size: 20px;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 40%;
}

.back-end{
  background-color: rgb(54, 48, 48);
  border-radius: 5px;
  font-size: 20px;
  flex-direction: column;
  justify-content:space-between;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 40%;
}

.data-base{
  background-color: rgb(54, 48, 48);
  border-radius: 5px;
  font-size: 20px;
  flex-direction: column;
  justify-content:space-between;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 40%;
}

.each{
  margin-top: 2%;
  width: 30%;
  border-radius: 10%;
  margin-left: 2%;
}

.front-end:hover, .front-end:active {
  width: 50%;
  border-radius: 10px;
  -webkit-transition: 0.2s ;
  -moz-transition: 0.2s ;
  -o-transition: 0.2s ;
  transition: 0.2s ;
}
.back-end:hover, .back-end:active {
  width: 50%;
  border-radius: 10px;
  -webkit-transition: 0.2s ;
  -moz-transition: 0.2s ;
  -o-transition: 0.2s ;
  transition: 0.2s ;
}
.data-base:hover, .front-end:active {
  width: 50%;
  border-radius: 10px;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.conexoes{
  background-color: #1F1F1F;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold ;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 50%;
}

.icon{
  width: 5%;
  border-radius: 20%;
  margin-top: 2%;
  margin-left: 2%;
}

.icon:hover, .icon:active{
  width: 7%;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ;
  
}







