body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navBar {
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    opacity: 0.9;
    color: white;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
}

.container {
    justify-content: space-between;
    margin-right: 2%;
    background-color: black;
}

.link {
    color: white;
    margin-left: 20px; /* Adiciona margem à esquerda para espaçamento */
    cursor: pointer; /* Altera o cursor para a mão característica de link */
}

.link:hover,
.link:active {
    color: #2e2e2e;
}
